
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato/fonts/Bebas/');
	src: url('../fonts/Lato/Lato-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato/Lato-Regular.woff2') format('woff2'),
		url('../fonts/Lato/Lato-Regular.woff') format('woff'),
		url('../fonts/Lato/Lato-Regular.ttf') format('truetype'),
		url('../fonts/Lato/Lato-Regular.svg#Lato-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Bebas Neue';
	src: url('../fonts/Bebas/BebasNeueRegular.eot');
	src: url('../fonts/Bebas/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Bebas/BebasNeueRegular.woff2') format('woff2'),
		url('../fonts/Bebas/BebasNeueRegular.woff') format('woff'),
		url('../fonts/Bebas/BebasNeueRegular.ttf') format('truetype'),
		url('../fonts/Bebas/BebasNeueRegular.svg#BebasNeueRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Lobster', cursive;
	font-family: 'Open Sans', sans-serif; 
}
.text-box{
	padding-top: 2rem;
}
.result {
	margin-bottom: 0;
	margin-top: 3rem;
}
.fonts {
	font-size: 2rem;
	text-align: center;
	padding: 2rem;
}
small {
	font-size: 1.3rem;
}

.ops {
	font-family: 'Open Sans', sans-serif;
}
.bbs {
	font-family: 'Bebas Neue', sans-serif;
	font-weight: normal;
	font-style: normal;
}
.lt {
		font-family: 'Lato', sans-serif;
		font-weight: 300;
	font-style: normal;
}
.lbsr {
	font-family: 'Lobster', cursive, sans-serif;
}

